<form method="POST" action="/categorias/editar/<%= categoria.id%>">
    <input type="text" name="categoria" placeholder="Insita o nome da categoria" value="<%= categoria.categoria%>">
    <button>Salvar</button>
</form>